# Ignore the spotify_data.csv file
spotify_data.csv

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
venv/

# Ignore system files
.DS_Store

# Ignore log files and databases
*.log
*.sqlite3

# Ignore node_modules (if using Node.js)
node_modules/
